<div class="jumbotron text-center mb-0">
  <h1>Wetr</h1>
  <p>A platform for managing weather stations and querying their data.</p>
</div>

<nav class="navbar navbar-dark bg-dark">
  <form class="form-inline">
    <a class="btn btn-sm btn-outline-light mr-3" [routerLink]="['/dashboard']">Dashboard</a>
    <a class="btn btn-sm btn-outline-light mr-3" [routerLink]="['/search']">Search</a>
    <a class="btn btn-sm btn-outline-light" [routerLink]="['/']">My Stations</a>

  </form>
</nav>

<flash-messages style="text-align: center;"></flash-messages>


<div class="container">
  <router-outlet>

  </router-outlet>
</div>