<div class="jumbotron text-center mb-0 bluredBackground">

  <h1>Wetr</h1>
    <p>A platform for managing weather stations and querying their data.</p>
  

</div>

<nav class="navbar navbar-dark bg-dark col-12">

  <div class="col-8">
    <a class="btn btn-sm btn-outline-light mr-3" [routerLink]="['/search']">Search</a>
    <a *ngIf="api.loggedIn()"class="btn btn-sm btn-outline-light mr-3" [routerLink]="['/dashboard']">Dashboard</a>
    <a *ngIf="api.loggedIn()"class="btn btn-sm btn-outline-light mr-3" [routerLink]="['/']">My Stations</a>
    <a *ngIf="api.loggedIn()"class="btn btn-sm btn-outline-light mr-3" [routerLink]="['/settings']">Settings</a>
  </div>
    <div class="col-4 d-flex " style="align-content: right">
      <div  *ngIf="api.loggedIn()" class="ml-auto" style="color:white; height: 30px;
      line-height: 30px; text-align: right
      ">Hello {{api.getEmail()}}</div>
      <button *ngIf="api.loggedIn()" (click)="api.logout()" class="btn btn-sm btn-outline-light ml-auto">Logout</button>
      <a *ngIf="!api.loggedIn()" class="btn btn-sm btn-outline-light ml-auto" [routerLink]="['/login']">Login</a>
    </div>

</nav>

<flash-messages style="text-align: center;"></flash-messages>


<div class="container">
  <router-outlet>

  </router-outlet>
</div>