<h1 class="mb-3 mt-5">Add new Station</h1>

<div class="wrapper row">

  <div class="col-12" *ngIf="errors?.length > 0">
    Errors:
    <ul>
      <li style="color:red;" *ngFor="let e of errors">{{e}} </li>
    </ul>

  </div>


  <form *ngIf="form" class="form-horizontal col-12" [formGroup]="form">

    <mat-form-field class="col-8">
      <input matInput type="text" placeholder="Name" formControlName="name">
    </mat-form-field>
    <br />

    <mat-form-field class="col-8">
      <mat-select placeholder="Type" formControlName="type">
        <mat-option *ngFor="let c of stationTypes" [value]="c.StationTypeId">
          {{c.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <mat-form-field class="col-8">
      <mat-select placeholder="Community" formControlName="community">
        <mat-option *ngFor="let c of communities" [value]="c.CommunityId">
          {{c.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <mat-form-field class="col-8">
      <input matInput type="text" placeholder="Location" formControlName="location">
    </mat-form-field>
    <br />

    <div class="row col-4 center centered">

      <mat-form-field class="col-6">
        <input matInput type="text" placeholder="Latitude" formControlName="lat">
      </mat-form-field>
      <br />

      <mat-form-field class="col-6">
        <input matInput type="text" placeholder="Longitude" formControlName="lon">
      </mat-form-field>
    </div>

    <br />

    <button (click)="onSubmit()" [disabled]="form.invalid || adding" mat-raised-button color="primary" type="submit">Add</button>
    <br />
    <mat-spinner class="mt-5" *ngIf="adding || !form"></mat-spinner>


  </form>

</div>